
@import "style.css";

body, ul, ol, li, img, h2, h3 {
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-weight: normal;
}

ul, ol {
  list-style-type: none;
}

body {
  width: 800px;
  margin: 0 auto;
  font-size: 14px;
  text-align: justify;
  font-family: Arial, sans-serif;
  color: #51484F;
}

header {
  margin: 20px 0;
}

header h2 {
  font-size: 32px;
}

header h2 span {
  font-size: 24px;
}

footer {
  margin: 20px 0;	
  font-size: 13px;
}

address {
  display: inline;
  font-style: normal;
}

p {
  margin: 10px 0 4px;
  line-height: 128%;
}

